// Add your custom CSS here.
.ecom-credits{
  display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700;800&family=Roboto:wght@400;500;700&family=Source+Sans+Pro:wght@400;700&display=swap');
.top-bar {
  &__countdown {
    &::before {
      content: "\e844";
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      text-transform: none;
      line-height: 1;
      font-family: storefront-fa;
      font-weight: 400;
    }
    background: #000 !important;
    font-size: 13px
  }
  &__nav {
    display: none !important;
  }
}
.header {
  @media(min-width: 992px) {
    &__logo {
    max-width: 400px;
    max-height: 100px;
    }
    &__toggler {
      display: none;
    }
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  & i {
    color: #000;
  }
  &__nav {
    & a {
      &:hover {
        background: none;
        color: #c4a66d;
      }
      &:not(:last-child) {
        border-right: 2px solid #c4a66d;
        border-radius: 0;
      }
      padding: 9px 12px;
      font-size: 16px;
      font-weight: 700;
      color: #212221;
      text-transform: uppercase;
      font-size: 16px !important;
      font-weight: 800 !important;
      font-family: 'Raleway';
    }
    padding: 3px;
  }

  #cart-count {
    background: #c0a064;
    font-size: 10px;
    font-weight: 400;
    border-radius: 20px;
    top: 15px;
    right: 18px;
  }
  background: #dac7a4;
}
.products-carousel {
  &__item {
    &:hover {
      border:1px solid #f4f4ec;
      box-shadow:0 3px 5px 0 rgba(0,0,0,.1)
    }
    border:1px solid #f5eded
  }
}
#search-input {
  border-radius: 20px
}
.banners-grid:first-child {
  .container {
    width: 100%;
    max-width: 80rem;
  }
  margin: 0px;
  width: 100%;
  background: #000;
}
.titulo-marcas {
  & b {
    position: relative;
    color: #000;
    font-size: 17px;
    margin-top: -13px !important;
    padding: 0 12px;
    background: #fff;
    line-height: 17px;
    display: block;
    margin: 0 auto;
    margin-top: 0px;
    text-align: center;
    width: 200px;
}
    border-style: solid;
    border-width: 13px 0 0;
    -moz-border-image: url(/img/uploads/borda-revenda-autorizada-new.png) 13 0 0 repeat;
    -webkit-border-image: url(/img/uploads/borda-revenda-autorizada-new.png) 13 0 0 repeat;
    -o-border-image: url(/img/uploads/borda-revenda-autorizada-new.png) 13 0 0 repeat;
    border-image: url(/img/uploads/borda-revenda-autorizada-new.png) 13 0 0 fill repeat;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}
@media  screen and (min-width: 1368px) and (max-width: 1550px) {
  .banner-slider {
    max-width: 100% !important;
  }
}

//desktop normal size
@media  screen and (min-width: 992px) and (max-width: 1367px) {
  //slider full
  .banner-slider {
    max-width: 100% !important;
  }
  .stamps {
    display: flex;
    justify-content: center;
  }
}
// apenas tablet
@media screen and (min-width: 481px) and (max-width: 991px) {
  //slider full
  .banner-slider {
    max-width: 100% !important;
  }
  .stamps {
    display: flex;
    justify-content: center;
  }
}
// apenas mobile
@media screen and (max-width: 480px) {
  .banners-grid {
    &:last-child > .container > .row > .col-12 {
      flex: 0 0 50% !important;
    }
    &:first-child > .container > .row > .col-12 {
      margin-bottom: 0;
      & .banner {
        min-height: 0
      }
    }
  }
  .stamps {
    overflow-x: scroll;
  }
}
#menu {
  & i {
    color: #000;
  }
  & .menu__list a:hover {
    background: #c0a064 !important;
    color: #fff !important;
  }
}
.footer {
  & .container {
    & #nome {
      order: 4;
    }
    & #paginas {
      order: 2
    }
    & #categorias {
      order: 1;
    }
    & #contato {
      order: 3;
    }
    display: flex;
    flex-direction: column;
  }
  &__title {
    color: #c0a064 !important;
  }
  & p, & a, & i, & span {
    color: #fff;
  }
  background: #000;
  color: #fff;
  border-top: 0;
}
.prices__value {
  color: #c0a064;
}
#product {
.product__buy button {
  width: 100%;
}
}
.product-card {
  &__name{
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
  }
  &__prices strong {
    font-size: 25px !important;
    color: #c0a064;
  }
  & .prices {
    &__installments {
      & span {
        &::before {
          content: 'de'
        }
        &::after {
          content: 'sem juros'
        }
    }
    color: #525252;
    font-size: 13px
  }
    &__discount {
      & span {
        font-weight: bold;
      }
    }
  }
  text-align: center;
  font-family: 'Open Sans';
}
.product__buy button {
  &:hover {
    background: #9a8151;
  }
  background: #c0a064;
  border: 1px solid #9a8151;
}
#nav-total {
  background: #fff;
  padding-left: 0;
  padding-right: 0;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
}
.top-bar__countdown {
  font-weight: 700 !important;
  font-size: 13px !important;
  color: #fff !important;
  text-transform: none;
}
//Esconder botão de cancelamento de pedido
.order-info__toggle {
    display: none !important;
}
// full banner
@media(min-width: 767px) {
  .banner-slider {
    max-width: 100%;
    height: auto;
    --banner-aspect-ratio: 1 !important;
  }
}
// show search bar in mobile
@media(max-width: 480px) {
  #search-bar {
    display: block !important;
  }
}
#closeModal {
  position: absolute;
  right: 10px;
  top: 10px;
}
